.main-faq {
  padding: 24px 0 !important;
}

.main-faq-container {
  .accordion-item {
    border: unset;
    background-color: unset;

    &:not(:first-child) {
      margin-top: 12px;
    }

    &:first-of-type .accordion-button {
      border-top-left-radius: 50px !important;
      border-top-right-radius: 50px !important;

      &:not(.collapsed) {
        border-top-left-radius: 25px !important;
        border-top-right-radius: 25px !important;
      }
    }
  }

  .accordion-header-custom .accordion-button {
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    transition: all .1s linear;
    line-height: 25px;

    &.collapsed {
      border-bottom-right-radius: 50px !important;
      border-bottom-left-radius: 50px !important;
    }

    &:focus {
      outline: none;
      border-color: unset;
      box-shadow: none;
    }

    &:not(.collapsed) {
      background-color: #ffffff;
      color: unset;
      border-radius: 25px 25px 0 0;
    }
  }

  .accordion-body-custom {
    font-size: 20px;
    background-color: #ffffff;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top: 1px solid rgba(0, 0, 0, .4);
  }
}
