@import "../../styles/rwd";

.main-portfolio {
  padding: 24px 0 !important;

  &-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 24px;
    }
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.project-item {
  background-color: #ffffff;
  width: 100%;
  //min-height: 400px;
  transition: all .1s linear;
  cursor: pointer;
  display: grid;
  grid-template-rows: 200px 1fr;
  padding: 24px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

  &:hover {
    background: linear-gradient(to right bottom, #212428, #16181c);

    .project-img-preview img {
      transform: scale(1.1);
    }

    .project-desc-container {
      .project-name, .project-desc {
        color: #ffffff;
      }
    }
  }

  .project-img-preview {
    height: 100%;
    border-radius: 12px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .3s linear;
    }
  }

  .project-desc-container {
    //padding: 12px;
    //display: grid;
    //grid-template-rows: 50px 1fr 50px;
    //grid-gap: 12px;
    margin-top: 24px;

    .project-name, .project-desc, .project-preview-button {
      display: flex;
      //justify-content: center;
      align-items: center;
      //text-align: center;
    }

    .project-name .name {
      font-size: 16px;
      color: #3236DD;
      font-weight: bold;
    }

    .project-desc .desc {
      //font-style: italic;
      font-size: 18px;
      line-height: 25px;
      text-align: justify;
      margin-top: 24px;
    }

    .project-preview-button button {
      border: none;
      outline: none;
      padding: 12px;
      background-color: #3236DD;
      border-radius: 12px;
      color: #ffffff;
    }

  }

  @include mobile {
    grid-template-rows: 200px 1fr;
  }
}

.modal-body-custom {
  padding: 0 !important;
}

.main-portfolio .load-more-btn {
  margin-top: 24px;

  button {
    border: 2px solid #ffffff;
    outline: none;
    background-color: transparent;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    transition: .3s linear;

    &:hover {
      background-color: rgba(255, 255, 255, .4);
    }

    img {
      margin-left: 12px;
    }
  }
}

.modal-all-project-custom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
  @include mobile {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;
  }
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
}