@import "../../styles/rwd";

.main-banner {
  min-height: 100vh;
  background-color: rgb(227, 228, 255);
  background-image: url("../../assets/imgs/banner/bannerShape1.png");
  background-repeat: no-repeat;
  background-position: right center;

  &-container {
    padding: 24px 0 !important;
  }

  &-content {
    min-height: calc(100vh - 129px - 48px - 100px);
  }

  @include mobile {
    background-image: unset;
  }
  @include tablet {
    background-image: unset;
  }
  @include desktop {
    background-size: 80% 100%;
  }
  @include wide-desktop {
    background-size: 60% 100%;
  }
}

.main-banner-content {
  .main-banner {
    &-left-side {
      .border-container {
        width: 450px;
        display: grid;
        grid-template-rows: 400px 50px;
        background-color: #9da0ef;
        padding: 12px;
      }

      .border-container .side-content {
        width: 100%;
        background-color: #ffffff;
        padding: 0 12px;

        .Typewriter__wrapper, .Typewriter__cursor {
          font-size: 45px;
          line-height: 55px;
          text-transform: uppercase;
          color: #3236DD;
          font-weight: bolder;
          text-align: center;
          @include mobile {
            font-size: 39px;
          }
        }

        .sub-title {
          font-size: 20px;
          line-height: 30px;
          transition: .1s ease-in;
          transform: scale(0);
          @include mobile {
            &:last-child {
              margin-bottom: 24px;
            }
          }
        }

        .sub-title-active {
          transform: scale(1);
        }
      }

      .border-container .bottom-content {
        height: 100%;
        width: 100%;
        padding-top: 12px;
        display: grid;
        grid-template-columns: 1fr 50px;

        .left svg, .right svg {
          font-size: 22px;
          color: #ffffff;
        }

        .left svg:nth-child(2) {
          margin: 0 12px;
        }
      }
    }


    &-right-side {
      img {
        width: 100%;
      }

      @include mobile {
        margin-top: 24px;
      }
    }
  }
}

.main-banner-contact {
  .contact-social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 24px;

    .social-item {
      width: calc(100% / 3);
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;

      .social-icon {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          color: #ffffff;
        }
      }

      .social-detail {
        margin-left: 12px;
        text-decoration: none;
        color: #000000;
      }
    }

    @include mobile {
      flex-wrap: wrap;
      .social-item {
        width: calc(100% / 2);
        justify-content: center;

        &:last-child {
          margin-top: 12px;
        }
      }
    }
  }
}
