@import "../../styles/rwd";

.main-about {
  padding: 24px 0 !important
}

.main-about-content {
  .about-left-side {
    .img-container {
      height: 400px;
      width: 100%;
      padding-right: 50px;

      img {
        border-radius: 15px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .about-right-side .content {
    color: #fff;
    font-size: 26px;
    line-height: 35px;
  }

  @include mobile {
    .about-left-side .img-container {
      padding-right: unset
    }
    .about-right-side {
      margin-top: 24px
    }
  }
  @include tablet {
    .about-left-side .img-container {
      padding-right: unset
    }
  }
}