@import '../../styles/rwd';

.login-page {
  background-color: #F5F7FB;
}

.login-page-container {
  min-height: 100vh;
}

.login-form-container .login-form-box {
  width: 70%;

  .login-form-title .title {
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 24px;
  }
}

.form-container {
  margin-top: 24px;

  .field-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    position: relative;

    label {
      font-weight: bold;
      margin-bottom: 12px;
    }

    .input-field {
      border: none;
      outline: none;
      padding: 12px;
      border-radius: 12px;
      margin-bottom: 24px;
    }

    .error-message {
      color: red;
      display: block;
      position: absolute;
      bottom: 0;
      transition: .1s;
      right: 0;

      &:first-letter {
        text-transform: capitalize;
      }
    }
  }

  .change-password-container {
    margin-bottom: 12px;

    .btn-change-pass {
      text-align: right;
      cursor: pointer;

      &:hover {
        color: rgb(31, 62, 220);
      }
    }
  }

  .login-button {
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    background-color: rgb(31, 62, 220);
    color: #ffffff;
    text-align: center;
    border-radius: 12px;
  }
}

.modal-container {
  .input-field {
    border: 1px solid #5c636a !important;
  }

  .submit-modal, .close-modal {
    border: none;
    outline: none;
    padding: 12px;
    width: 100px;
    border-radius: 5px;
    color: #ffffff;
  }

  .close-modal {
    background-color: #6c757d;

    &:hover {
      background-color: red;
    }
  }

  .submit-modal {
    margin-left: 12px;
    background-color: rgb(31, 62, 220);

    &:hover {
      background-color: green;
    }
  }
}

.login-page-bg img {
  width: 100%;
}