@import '../../styles/rwd';

.main-header {
  background-color: transparent;

  &-menu {
    width: 100%;
  }

  @include mobile {
    &-container {
      justify-content: flex-end !important;
    }
  }
  @include tablet {
    &-container {
      justify-content: flex-end !important;
    }
  }
}

.main-header-menu .header-menu-item {
  .item {
    color: #fff !important;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;

    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 4px;
      background-color: #f5f5f5;
      left: 50%;
      bottom: 0;
      transition: all .4s ease-in-out;
    }
  }

  &:hover .item:after {
    width: 100%;
    left: 0;
  }

  @include mobile {
    &:not(:first-child) {
      margin-top: 12px;
    }
    .item {
      margin-bottom: 12px
    }
  }
  @include tablet {
    &:not(:first-child) {
      margin-top: 12px;
    }
    .item {
      margin-bottom: 12px
    }
  }
}

.main-header-button {
  .button-item {
    border: none;
    outline: none;
    background-color: #8da3dd;
    color: #000;
    width: 150px;
    border-radius: 50px;
    padding: 10px 5px;
    transition: .2s;
    font-weight: bold;

    &:hover {
      letter-spacing: 2px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, .35);
    }
  }

  @include mobile {
    justify-content: center;
    align-items: center
  }
  @include tablet {
    justify-content: center;
    align-items: center;
  }
}

.main-header-toggle-custom {
  color: unset !important;
  border: unset !important;
  outline: none !important;
  position: relative !important;
  width: 40px;
  height: 40px;
  background-color: #fff !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .08) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px !important;
  overflow: hidden !important;

  .toggle-line {
    width: 30px !important;
    height: 4px;
    border-radius: 4px !important;
    position: absolute;
    background-color: #000;
    transition: .5s;

    &:first-child {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
      width: 25px !important;
      left: 5px
    }

    &:nth-child(2) {
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
      width: 15px !important;
      left: 5px
    }
  }

  &.active {
    .toggle-line:first-child {
      width: 30px !important;
      -webkit-transform: translateY(0) rotate(45deg);
      transform: translateY(0) rotate(45deg);
      transition-delay: .125s
    }

    .toggle-line:nth-child(2) {
      width: 30px !important;
      -webkit-transform: translateY(0) rotate(315deg);
      transform: translateY(0) rotate(315deg);
      transition-delay: .25s
    }

    .toggle-line:nth-child(3) {
      -webkit-transform: translateX(50px);
      transform: translateX(50px)
    }

  }
}