@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import "./rwd";

* {
  font-family: "Roboto", sans-serif !important;
}

.editor {
  min-height: calc(100vh - 48px);

  &-container {
    height: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  @include mobile {
    min-height: calc(100vh - 54px);
  }
}

.editor-container {
  .editor-top-container {
    margin: 24px 0;

    .editor-item {
      &:not(:last-child) {
        flex: 2;
      }
    }
  }

  .editor-update-button {
    margin-bottom: 24px;
  }
}

.main-primary-button {
  margin-top: 24px;

  .button-item {
    background-color: #8da3dd;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    width: 200px;
    height: 60px;
    border-radius: 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    font-weight: 700;
    border: none;
    outline: none;
    font-size: 26px;
    position: relative;
    overflow: hidden;

    .button-icon {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      box-shadow: 0 0 12px -2px rgba(0, 0, 0, .5);
      position: absolute;
      top: 0;
      right: -40px;
      opacity: 0;

      img {
        width: 40px;
        filter: invert(100%);
        -webkit-filter: invert(100%);
      }
    }
  }

  @include smallScreen {
    .button-item {
      width: 135px;
      height: 40px;
      font-size: 16px;

      .button-icon {
        width: 40px;
        height: 40px;
        right: -20px;

        img {
          width: 20px;
        }
      }
    }
  }

  .active {
    background: #ff2b75;
    transition: 1s;

    .button-icon {
      right: 0;
      opacity: 1;
      transition: 1s;
    }

    .button-name {
      margin-right: 80px;
      transition: 1s;
      color: #fff;
    }

    svg {
      transition: 1s;
      transition-delay: 1s
    }

    @include smallScreen {
      .button-name {
        margin-right: 60px
      }
    }
  }
}

.main-primary-box {
  padding: 24px 12px;
  background-color: #9da0ef;
  border-radius: 20px;
}